@model LoginVM
<form asp-controller="Account" asp-action="Login" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group row align-items-center mb-4">
        <label for="email" class="col-12 col-sm-12 col-md-4 col-form-label">Email address</label>
        <div class="col-12 col-sm-12 col-md-8">
            <input asp-for="Email" class="form-control" id="email" placeholder="Email" required>
        </div>
    </div>
    <div class="form-group row align-items-center mb-4">
        <label for="c-password" class="col-12 col-sm-12 col-md-4 col-form-label">Password</label>
        <div class="col-12 col-sm-12 col-md-8">
            <input asp-for="Password" class="form-control" id="c-password" placeholder="Password" required>
            <button class="pass-show-btn" type="button">Show</button>
        </div>
    </div>
    <div class="rememmbermeInp col-lg-6">
        <input asp-for="RememberMe" type="checkbox" class="custom-control-input" id="rememberMe">
        <label for="remmeberme">Remember me</label>
    </div>
    <div class="login-box mt-5 text-center">
        <p><a asp-controller="Account" asp-action="ResetPassword" class="forgotYourPassword col-lg-6">Forgot your password?</a></p>
        <button type="submit" class="default-btn tiny-btn mt-4">Sign In</button>
    </div>
    <div class="text-center mt-half pt-half top-bordered">
        <p>No account? <a href="register.html">Create one here</a>.</p>
    </div>
</form>
